.carrousel {
    width: 800px;
    height: 533px;
    overflow: hidden;
    border: 3px solid #133756;
}
h2  {
  font-size: 50px;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  text-align: center;
  color: white;
  font-weight: 700;
}
h1 {
    text-align: center;
    font-size: 150px;

}

.container {
    padding-left: 0;
}

.carrousel ul {
    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 533px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.carrousel li {
    float: left;
}

#prev {
    margin-left: 17%;
    margin-top: -24%;
}

#next {
    margin-top: -64px;
    margin-left: 80%;
}


}
